
   <footer >
    <div class="grid grid--cols__6">
        <div>
            <div class="foot1">
                <svg class="icon icon-cloth">
                    <use xlink:href="images/sprite (4).svg#noun_cloth_2129414"></use>
                  </svg>
                  <div class="shop">
                      <span class="e">E</span>
                      <span>-Shop</span>
                  </div>
            
            </div>
            <p class="footer__paragraph">
                High quality Scandinavian furniture made from eco-friendly
                <br>
                materials, designed for modern, minimalist apartments
              </p>
              
                  <span >
                      <svg class="icon  ">
                        <use xlink:href="images/sprite (6).svg#002-facebook-logo"></use>
                      </svg>
                  </span>
                  <span class="footer__icon" >
                      <svg class="icon  ">
                        <use xlink:href="images/sprite (6).svg#001-twitter-logo-silhouette"></use>
                      </svg>
                  </span>
                  <span class="footer__icon">
                      <svg class="icon ">
                        <use xlink:href="images/sprite (6).svg#004-linkedin-logo"></use>
                      </svg>
                  </span>
                  <span class="footer__icon">
                      <svg class="icon ">
                        <use xlink:href="images/sprite (6).svg#instagram (1)"></use>
                      </svg>
                  </span>
                  <span class="footer__icon">
                      <svg class="icon ">
                        <use xlink:href="images/sprite (6).svg#005-youtube"></use>
                      </svg>
                  </span>
        </div>
        <div>
            <div class="collapsible ">
                <header class="collapsible__header ">
                    <h6>Shopping online</h6>
                  
                </header>
                <div class="collapsible__content">
                    <ul class="list">
                        <li class="list__item">order status</li>
                        <li class="list__item">shipping and delievry</li>
                        <li class="list__item">returns</li>
                        <li class="list__item">payment options</li>
                        <li class="list__item">contact us</li>
                    </ul>
                </div>
            </div>
        </div>
        <div>
            <div class="collapsible ">
                <header class="collapsible__header">
                    <h6>Information</h6>
                  
                </header>
                <div class="collapsible__content">
                    <ul class="list">
                        <li class="list__item">Gift cards</li>
                        <li class="list__item">Find a store</li>
                        <li class="list__item">Newsletter</li>
                        <li class="list__item">Become a member</li>
                        <li class="list__item">Site feedback</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="footer__p">
            <div class="collapsible ">
                <header class="collapsible__header">
                    <h6>Contact</h6>
                   
                </header>
                <div class="collapsible__content">
                    <ul class="list">
                        <li class="list__item">store@uikit.com</li>
                        <li class="list__item">Hotline: +1131 138 138</li>
                    </ul>
                </div>
            </div>
        </div>

    </div>
    <p class="footer__para">
        DESIGN BY ICEO.CO - &copy2019 ALL RIGHT RESERVED
    </p>
</footer>