<div class="grid grid--cols__4">
    <div class="grid__icon">
        
            <a href="#">
                <svg class="icon icon-white">
                    <use xlink:href="images/sprite (2).svg#noun_Arrow Left_2682937 (4)"></use>
                </svg>
            </a>
        
    </div>
  
     <div>
       
         <div class="card">
            
            <img src="images/stock-photo-confident-in-his-style-full-length-of-good-looking-young-man-keeping-hand-in-pocket-and-looking-at-720914785.png" alt="">
         </div>
         <div class="first__sofa">
             <span class="card__first">Holmustund</span>
             <div class="card__1p">$1999.99</div>
         </div>
     </div>
     <div>
         <div class="card">
            <div class="card__badge">
                <div class="badge">
                    30%
                </div>
            </div>
            <img src="images/Bez nazwy-2.png" alt="">
         </div>
         <div class="first__sofa">
            <span class="card__first">Farlov</span>
            <div class="s__sofa">
                <span class="card__2p">$1999.99</span>
                <span class="card__2">$999.99</span>
            </div>
        </div>
     </div>
     <div>
         <div class="card">
            <img src="images/sofa(4).png" alt="">
         </div>
         <div class="first__sofa">
            <span class="card__first">Evertosomberg</span>
            <div class="card__1p">$269.99</div>
        </div>
     </div>
     <div>
         <div class="card">
            <img src="images/sofa(5).png" alt="">
         </div>
         <div class="first__sofa">
            <span class="card__first">Eurosofa</span>
            <div class="card__1p">$619.99</div>
        </div>
     </div>
     <div class="grid__icon">
        <a href="#">
            <svg class="icon icon-white">
                <use xlink:href="images/sprite (2).svg#noun_Arrow Left_2682937 (3)"></use>
            </svg>
        </a>
     </div>
 </div>