<div class="grid grid--cols__4">
    <div class="grid__icon">
 
            <a href="#">
                <svg class="icon icon-white">
                    <use xlink:href="images/sprite (2).svg#noun_Arrow Left_2682937 (4)"></use>
                </svg>
            </a>
 
    </div>
 
     <div>
 
         <div class="card">
 
           <img src="images/stock.png" alt="">
         </div>
         <div class="first__sofa">
             <span class="card__first">Ikfonur</span>
             <div class="card__1p">$169.99</div>
         </div>
     </div>
     <div>
         <div class="card">
           
            <img src="images/sofa(16).png" alt=" ">
         </div>
         <div class="first__sofa">
            <span class="card__first">chair nonpolor</span>
            
                <div class="card__1p">$59.99</div>
                
            
        </div>
     </div>
     <div>
         <div class="card">
            <img src="images/sofa(12).png" alt="">
         </div>
         <div class="first__sofa">
            <span class="card__first">Skogsta</span>
            <div class="card__1p">$99.9</div>
        </div>
     </div>
     <div>
         <div class="card">
            <img src="images/sofa(14).png" alt="">
         </div>
         <div class="first__sofa">
            <span class="card__first">Nord comode</span>
            <div class="card__1p">$199.99</div>
        </div>
     </div>
     <div class="grid__icon">
        <a href="#">
            <svg class="icon icon-white">
                <use xlink:href="images/sprite (2).svg#noun_Arrow Left_2682937 (3)"></use>
            </svg>
        </a>
     </div>
 </div>
