<div class="grid grid--cols__2">
    <div class="grid__2">
        <div>
            <img src="images/Bez nazwy-3.png" alt="">
        </div>
        <div class="plan">
            <h2>New collection
                <br>
                available now
            </h2>
            <a href="#">
                <button class=" btn btn--primary">view all</button>
            </a>
        </div>

    </div>
    <div class="grid__3">
        <div>
            <img src="images/CHA1252946-1_2048x.png" alt="">
        </div>
        <div class="plan">
            <h2>Redifining the
                <br>
                modern design
                
            </h2>
            <a href="#">
                <button class=" btn btn--check">check more</button>
            </a>
        </div>

    </div>
</div>