<div class="hero">
    <nav class="nav collapsible">
     
       
      <div class="nav__header">
             <svg class="icon icon-nav">
               <use xlink:href="images/sprite (11).svg#noun_cloth_2129414 (1)"></use>
             </svg>
             <header class="nav__shop">E-shop</header>
             <svg class="icon collapsible__chevron nav__toggler">
               <use xlink:href="images/sprite (10).svg#menu"></use>
              </svg>
             </div>
            
             <div class="nav__head">
               <ul class="list nav__list collapsible__content">
                 <li class="nav__item"><a href="#">Products</a></li>
                 <li class="nav__item"><a href="#">Inspiration</a></li>
                 <li class="nav__item"><a href="#">Rooms</a></li>
                 </ul>
             </div>
      
         <div class="nav__body">
           <a href="#">
             <svg class="icon nav__link">
              <use xlink:href="images/sprite (8).svg#noun_Search_2102816 (2)"></use>
             </svg>
                 </a>
                 <a href="#">
             <svg class="icon nav__link">
              <use xlink:href="images/sprite (8).svg#noun_cart_2102832 (4)"></use>
             </svg>
                 </a>
                 <a href="#">
             <svg class="icon nav__link">
              <use xlink:href="images/sprite (8).svg#noun_avatar_2102861 (2)"></use>
             </svg>
                 </a>
         </div>
    
   
  
   </nav>
   <header class="hero__content">
     <h1 >Make your house
      <br>
      into a home
     </h1>
     <div class="links">
      <div class="icon-container">
          <svg class="icon ">
              <use xlink:href="images/sprite.svg#noun_Arrow Left_2682937"></use>
            </svg>
      </div>
      <a class="link-arrow" href="#">show more</a>
       </div>
   </header>
   <div class="grid grid--cols__8">
    <div class="grid grid--cols__7">
        <div class="media media1">
          <div class="icon-guarantee">
            <svg class="icon-happy">
              <use xlink:href="images/sprite (13).svg#noun_Happy_1563582"></use>
            </svg>
          </div>
          <div class="media__body">
            <h6 class="media__title">Free shipping</h6>
            <p class="media__para">on purchases over $399</p>
          </div>
        </div>
        <div class="media media2">
          <div class="icon-guarantee">
            <svg class="icon-happy">
              <use xlink:href="images/sprite (13).svg#noun_Happy_1563582"></use>
            </svg>
          </div>
          <div class="media__body">
            <h6 class="media__title">99% Satisfied customer</h6>
            <p class="media__para">our clients opinions
              <br>
               speak for themselves
            </p>
          </div>
        </div>
        <div class="media media3">
          <div class="icon-guarantee">
            <svg class=" icon-happy">
              <use xlink:href="images/sprite (12).svg#noun_guarantee_2519048 (1)"></use>
            </svg>
    
          </div>
    
          <div class="media__body">
            <h6 class="media__title">Originality Guaranteed</h6>
            <p class="media__para">2 years warranty for
              <br>
              each product from our store
            </p>
          </div>
        </div>
      </div>
      <div>
        <div class="media-icon">
          <div class="icon-grey">
            <a href="#">
                <svg class="icon icon--large">
                    <use xlink:href="images/sprite (1).svg#noun_Arrow Left_2682937 (2)"></use>
                </svg>
            </a>
               </div>
               <div class="icon-black">
                <a href="#">
                    <svg class="icon icon--large">
                        <use xlink:href="images/sprite (1).svg#noun_Arrow Left_2682937 (1)"></use>
                    </svg>
                </a>
                   </div>
        </div>
      </div>
  </div>
  </div>