<div class="grid grid--cols__8">
  <div class="grid grid--cols__7">
      <div class="media media1">
        <div class="icon-guarantee">
          <svg class="icon-happy">
            <use xlink:href="images/sprite (13).svg#noun_Happy_1563582"></use>
          </svg>
        </div>
        <div class="media__body">
          <h6 class="media__title">Free shipping</h6>
          <p class="media__para">on purchases over $399</p>
        </div>
      </div>
      <div class="media media2">
        <div class="icon-guarantee">
          <svg class="icon-happy">
            <use xlink:href="images/sprite (13).svg#noun_Happy_1563582"></use>
          </svg>
        </div>
        <div class="media__body">
          <h6 class="media__title">99% Satisfied customer</h6>
          <p class="media__para">our clients opinions
            <br>
             speak for themselves
          </p>
        </div>
      </div>
      <div class="media media3">
        <div class="icon-guarantee">
          <svg class=" icon-happy">
            <use xlink:href="images/sprite (12).svg#noun_guarantee_2519048 (1)"></use>
          </svg>
  
        </div>
  
        <div class="media__body">
          <h6 class="media__title">Originality Guaranteed</h6>
          <p class="media__para">2 years warranty for
            <br>
            each product from our store
          </p>
        </div>
      </div>
    </div>
    <div>
      <div class="media-icon">
        <div class="icon-grey">
          <a href="#">
              <svg class="icon icon--large">
                  <use xlink:href="images/sprite (1).svg#noun_Arrow Left_2682937 (2)"></use>
              </svg>
          </a>
             </div>
             <div class="icon-black">
              <a href="#">
                  <svg class="icon icon--large">
                      <use xlink:href="images/sprite (1).svg#noun_Arrow Left_2682937 (1)"></use>
                  </svg>
              </a>
                 </div>
      </div>
    </div>
</div>
<div class="grid grid--cols__8">
  <div class="grid grid--cols__7">
      <div class="media media1">
        <div class="icon-guarantee">
          <svg class="icon-happy">
            <use xlink:href="images/sprite (13).svg#noun_Happy_1563582"></use>
          </svg>
        </div>
        <div class="media__body">
          <h6 class="media__title">Free shipping</h6>
          <p class="media__para">on purchases over $399</p>
        </div>
      </div>
      <div class="media media2">
        <div class="icon-guarantee">
          <svg class="icon-happy">
            <use xlink:href="images/sprite (13).svg#noun_Happy_1563582"></use>
          </svg>
        </div>
        <div class="media__body">
          <h6 class="media__title">99% Satisfied customer</h6>
          <p class="media__para">our clients opinions
            <br>
             speak for themselves
          </p>
        </div>
      </div>
      <div class="media media3">
        <div class="icon-guarantee">
          <svg class=" icon-happy">
            <use xlink:href="images/sprite (12).svg#noun_guarantee_2519048 (1)"></use>
          </svg>
  
        </div>
  
        <div class="media__body">
          <h6 class="media__title">Originality Guaranteed</h6>
          <p class="media__para">2 years warranty for
            <br>
            each product from our store
          </p>
        </div>
      </div>
    </div>
    <div>
      <div class="media-icon">
        <div class="icon-grey">
          <a href="#">
              <svg class="icon icon--large">
                  <use xlink:href="images/sprite (1).svg#noun_Arrow Left_2682937 (2)"></use>
              </svg>
          </a>
             </div>
             <div class="icon-black">
              <a href="#">
                  <svg class="icon icon--large">
                      <use xlink:href="images/sprite (1).svg#noun_Arrow Left_2682937 (1)"></use>
                  </svg>
              </a>
                 </div>
      </div>
    </div>
</div>