
    <h3 class="media1__heading">Why you should choose us</h3>
    <div class="grid grid--cols__5">
      <div>
          <div class="icon-hand" >
              <svg class="icon icon--red">
                  <use xlink:href="images/sprite (3).svg#noun_payment_2281176"></use>
                </svg>
              </div>
              <h4>Free Shipping</h4>
              <p class="shipping">
                  All purchases over $399 dollar are eligible for
                  <br>
                  shipping via UPS pack and ship
              </p>
      </div>
      <div>
          <div class="icon-hand" >
              <svg class="icon icon--red">
                  <use xlink:href="images/sprite (3).svg#noun_payment_2281176"></use>
                </svg>
              </div>
              <h4>Easy Payments</h4>
              <p class="shipping">
                  All payments are processed instantly
                  <br>
                  over a secure payment protocol
              </p>
      </div>
      <div>
          <div class="icon-dollar">
              <svg class="icon icon-blue">
                   <use xlink:href="images/sprite (3).svg#noun_guarantee_2519048"></use>
                 </svg>
           </div>
              <h4>Money-Back Guarantee</h4>
              <p class="shipping">
                  If an item arrived or you,ve
                 
                  <br>
                  change your mind, you can send it
                  <br>
                  back for a full refund
                 
              </p>
      </div>
      <div>
          <div class="icon-dollar">
              <svg class="icon icon-material">
                  <use xlink:href="images/sprite (3).svg#noun_materials_308312"></use>
                </svg>
            </div>
              <h4>Finest Quality</h4>
              <p class="shipping">
                 Designed to last, each of our product has
                  <br>
                  been crafted with finest materials
                  
              </p>
      </div>
  </div>