<nav class="nav collapsible">
       
         
    <div class="nav__header">
           <svg class="icon icon-nav">
             <use xlink:href="images/sprite (11).svg#noun_cloth_2129414 (1)"></use>
           </svg>
           <header class="nav__shop">E-shop</header>
           <svg class="icon collapsible__chevron nav__toggler">
             <use xlink:href="images/sprite (10).svg#menu"></use>
            </svg>
           </div>
          
           <div class="nav__head">
             <ul class="list nav__list collapsible__content">
               <li class="nav__item"><a href="#">Products</a></li>
               <li class="nav__item"><a href="#">Inspiration</a></li>
               <li class="nav__item"><a href="#">Rooms</a></li>
               </ul>
           </div>
    
       <div class="nav__body">
         <a href="#">
           <svg class="icon nav__link">
            <use xlink:href="images/sprite (8).svg#noun_Search_2102816 (2)"></use>
           </svg>
               </a>
               <a href="#">
           <svg class="icon nav__link">
            <use xlink:href="images/sprite (8).svg#noun_cart_2102832 (4)"></use>
           </svg>
               </a>
               <a href="#">
           <svg class="icon nav__link">
            <use xlink:href="images/sprite (8).svg#noun_avatar_2102861 (2)"></use>
           </svg>
               </a>
       </div>
  
 

 </nav>
